<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="DefectDetector.DetectorSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
   <section name="DefectDetector.Common.DetectorSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings>
		<add name="connStr" connectionString="server=DESKTOP-05KEJ66;database=DefectDetector;uid=ucp_user;pwd=liuzhiyuan123"
    providerName="System.Data.SqlClient"/>
	</connectionStrings>
	
	
 <userSettings>
  <DefectDetector.DetectorSettings>
   <setting name="ResultAutoSave" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ShowChartGrid" serializeAs="String">
    <value>True</value>
   </setting>
  </DefectDetector.DetectorSettings>
  <DefectDetector.Common.DetectorSettings>
   <setting name="ResultAutoSave" serializeAs="String">
    <value>False</value>
   </setting>
  </DefectDetector.Common.DetectorSettings>
 </userSettings>
</configuration>